body {
    margin: 0 auto;
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 4%, rgba(255, 154, 0, 1) 16%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 68%, rgba(255, 154, 0, 1) 80%, rgba(255, 0, 0, 1) 96%);

}

section #calco {
    margin: 0 auto;
    margin-top: 10rem;
    background-image: url(../assets/img/giphy.gif);
    width: 400px;
    height: 29rem;
    border-radius: 16px;
    border: 2.9px solid black;
    display: grid;
    box-shadow: 4px 4px 6px 2px rgb(157, 157, 157);
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: all 0.1s;

}






/* 

section #calco:hover {
    transform: scale(1.5);
}


 */




section #display {

    border-radius: 12px;
    width: 98.2%;
    font-size: 2rem;
    height: 3.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    box-shadow: 0px 1px 5px 0px red;
    text-align: center;
    background: rgb(196, 196, 196);
    background: radial-gradient(circle, rgba(196, 196, 196, 1) 28%, rgba(116, 116, 116, 1) 100%);
    font-family: 'Noto Serif Khojki', serif;
}

.cont-dsp {
    height: 0.2rem;
}







.colonne {
    margin: 0 auto;
    display: inline-block;
    width: calc(100% / 1 - 0.5rem);
    height: 18rem;

}







section button {
    border-radius: 100%;
    font-size: 1.6rem;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(196, 196, 196);
    background: radial-gradient(circle, rgba(196, 196, 196, 1) 28%, rgba(116, 116, 116, 1) 100%);
    color: #ff0000;
    margin: 9px;
    width: 55px;
    font-weight: bold;
    box-shadow: 0px 2px 7px 0px rgb(255, 255, 255);
    font-family: 'Noto Serif Khojki', serif;
}

.btn {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    line-height: 2rem;
    transition: all 0.1s;

}




button:hover {
    transform: scale(1.2);

}


.tot button {
    margin: 0 auto;
    border-radius: 10rem;
    border: 3px solid black;
    box-shadow: 0px 3px 7px 0px rgb(255, 0, 0);

}

.tot button:hover {
    transform: scale(1.1);
    width: 18.3rem;
    height: 3.5rem;
}







.oper {
    color: black;
    box-shadow: 0px 2px 7px 0px red;
    font-weight: bold;

}

#calco hr {
    border-radius: 100%;
}




.rotating {
    animation: rotating 0.5s linear forwards;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}