/* IMPOSTAZIONI GENERALI */
body {
    background-image: url(../img/sfondo.png);
    width: 400px;
    margin: 0 auto;
    background-position: center;
    background-size: 500px;
    background-repeat: repeat-y;
    line-height: 1.4rem;
}




/* HEADER */


header {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color: rgb(102, 144, 223);
    max-width: 100%;
    margin-top: 0.9rem;
    box-shadow: 3px 3px 3px 0px rgb(98, 97, 97);

}

header div {
    text-align: center;
    padding-top: 2rem;

}

header a {
    color: white;
    text-decoration: none;
}

header p {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

header li {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3rem;
    list-style: none;

}



/* MAIN */
main {
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0px 3px 5px 0px gray;
}


main li {
    margin-left: 1.5rem;
}

main h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    margin-bottom: 1.7rem;

}




#autor-date {

    color: gray;
    margin-bottom: 2rem;
    font-size: 1.2rem;


}

#autor-date i {
    margin-left: 1.3rem;
    margin-right: 1.2rem;
}





ul,
ol {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

}


code {
    border: 1px solid grey;
    background-color: rgb(226, 226, 226);
    border-radius: 4px 4px 4px 4px;
}

.par {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

}

main article {
    margin: 1rem 1rem 1rem 1rem;
    margin-left: 1.3rem;
}

.sub-title {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

article strong {
    font-weight: bold;
    color: rgb(255, 0, 255);
}





section {
    border: 1px solid rgb(255, 255, 255);
    height: 250px;
    background-color: rgb(213, 213, 213);
}

section p {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}



table {
    width: 360px;
    height: 170px;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 0px 0px blue;
}

table th {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 132, 255);
    color: white;
    height: 4rem;


}

table tr:nth-child(even) {
    background-color: #dddddd;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}





form {
    text-align: center;
    margin-top: 2.5rem;


}

fieldset input {
    border-bottom: dashed;
    width: 14rem;
    height: 1.5rem;

}

button {
    color: rgb(255, 255, 255);
    background-color: blue;

}


#vid iframe {
    width: 350px;
    height: 170px;
    display: flex;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2.6rem;





}





aside #art1,
#art2,
#art3 {

    border: 1px solid gray;
    height: 125px;
    width: 359px;
    margin-left: 1.3rem;
    margin-bottom: 1.1rem;
    background-color: rgb(213, 213, 213);
}

aside #art3 {

    margin-bottom: 4rem;
}


aside a,
.a2 {
    color: rgb(1, 112, 239);
    font-weight: bold;
}



aside .date {
    text-align: end;
    margin-right: 1rem;
    margin-top: 2.8rem;

}

.art-info {

    margin-top: 0.5rem;
    margin-left: 1.4rem;
    line-height: 1.5rem;

}

aside i {
    margin-right: 5px;

}










footer {
    margin: 0 auto;
    border: 1px solid rgb(123, 123, 125);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgba(102, 144, 223) 100%);
    margin-bottom: 1rem;
    box-shadow: 0px 3px 5px 0px gray;
    height: 150px;

}

footer p {
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    color: white;


}

footer address {
    text-align: center;
    padding-bottom: 1.9rem;
    line-height: 1.2rem;
    color: white;

}

footer a {
    color: fuchsia;
    font-weight: bold;



}