//variabili SASS
// il comportamento è un po' quello di una costante (const) perché raramente cambieranno valore nel corso del tempo

$bg-color: rgb(35, 30, 37) !default;
$text-white: rgb(250, 234, 249);
$color-red: rgb(255, 72, 0);
