/* font-family: 'Anton', sans-serif;
font-family: 'Vesper Libre', serif; */

body {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 0 auto;
    font-family: 'Vesper Libre', serif;
}

header {
    width: 100%;
}

header p {
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    border-top: 2px solid rgb(255, 255, 0);
    color: rgb(32, 96, 32);
    padding-top: 1rem;


}

header img {
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-align: center;

}


#logo {

    width: 15rem;
    height: 4rem;
    cursor: pointer;
    margin: 0 auto;


}








main {
    width: 100%;

}


article {
    justify-content: center;
    margin: 0 auto;
    width: 100%;


}

article h1 {
    text-align: center;
    margin-bottom: 3rem;

}








.first-p h1 {
    font-size: 2.5rem;

}


.autore {
    text-align: center;
    color: rgba(128, 128, 128, 0.556);

}

#img {
    border-radius: 1rem;
    width: 100%;
    height: 80%;


}






.sub-title {
    border-bottom: 2px solid rgba(0, 255, 255, 0.317);
    padding-bottom: 1rem;
    padding-top: 3rem;
    font-size: 1.8rem;


}

.sub-title2 {
    border-bottom: 2px solid rgba(0, 255, 255, 0.317);
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 1.8rem;


}



.feat {
    border-left: 2px solid rgb(255, 255, 0);
    padding-left: 1rem;



}



.feat a {

    color: rgb(38, 160, 160);
    margin: 0 auto;



}

.feat p {
    margin: 0 auto;



}

.feat1 {
    color: rgb(255, 136, 0);
    text-transform: uppercase;
    font-weight: bold;

}

.list {

    padding-top: 1rem;
    line-height: 2rem;

}

ol {
    font-weight: bold;
    padding-top: 2rem;

}








footer a {
    color: rgb(4, 166, 166);


}