/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/



#testoAlternato {
    border: 2px solid black;
    padding: 1.5rem 1rem;
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-block: 4rem;
}

#testoAlternato p {
    line-height: 1.4rem;
    font-weight: bold;
}

.parole {
    position: relative;
}

.parole i {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}


.parole i:first-child {
    display: block;
    animation: rotateWord 2s ease-in-out;
    margin-left: 0.5rem;
    width: 7rem;


}

@keyframes rotateWord {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
        color: yellow;
    }

    50% {
        color: rgb(255, 188, 3);

    }

    100% {
        transform: rotateZ(360deg);
        opacity: 1;
        color: rgb(255, 0, 0);

    }

}



.parole i:not(:first-child) {
    display: inline-block;
    margin-left: 0.5rem;
    margin-bottom: 5rem;
    width: 7rem;
    opacity: 0;
}

.parole i:nth-child(2) {
    animation: fadeInOut 2s 2.2s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        color: rgb(250, 250, 27);
        opacity: 1;
        transform: translateY(-600%);
    }

    /*    25% {
        color: rgb(255, 251, 3);
        transform: translateY(-75%);
    } */

    /*  50% {
        color: rgb(255, 251, 3);
        transform: translateY(-50%);
    } */

    /*  75% {
        color: rgb(255, 251, 3);
        transform: translateY(-25%);
    } */

    100% {

        opacity: 1;
        color: rgb(47, 255, 0);
        transform: translateY(0);
    }

}

.parole i:nth-child(3) {
    animation: fadeSlide 2s 3.8s ease-in-out;
}

@keyframes fadeSlide {
    0% {
        color: rgb(0, 255, 251);
        opacity: 1;
        transform: translateX(-400%);
    }


    100% {

        opacity: 1;
        color: rgb(0, 42, 255);
        transform: translateX(0);
    }

}